@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  pointer-events: none;
}

.porda {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #444;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drag-text {
  color: white;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  filter: drop-shadow(0px 0px 1px yellow);
  background: url("image1.jpg") fixed center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
  animation: animate 1s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.porda::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 80px;
  height: 17%;
  background: #444;
  box-shadow: 0 90vh 0 #444;
}

.plane {
  height: 100vh;
  position: absolute;
  left: -55vh;
}

section {
  width: 100%;
  height: 200vh;
  background: url("image1.jpg") fixed center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sec-2 {
  background: url("image2.png") fixed center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.text {
  font-size: 2em;
  font-weight: 100;
  background-color: #333;
  color: #0f0;
  padding: 20px;
  text-align: center;
  letter-spacing: 3px;
}

.text span {
  display: block;
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0px;
  background: url("image2.png") fixed center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 1px #0f0);
  background-clip: text;
  color: transparent;
  margin: 0;
  line-height: 1em;
}

@media screen and (max-width: 950px) {
  span {
    font-size: 2em !important;
  }
}
